@import url(https://fonts.googleapis.com/css?family=Bree+Serif|Raleway:100,200,300,400,500,600,700,800,900|Yellowtail);
.col-md-offset-right-1 {
	margin-right: 8.33333333%
}

.row.m0,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0
}

ul {
	list-style: none
}

a,
a:focus,
a:hover {
	text-decoration: none
}

body {
	line-height: 24px;
	font-size: 13px;
	color: #333;
	font-family: raleway, sans-serif
}

body.light_bg {
	background: url(../img/Pattern_Light.png) center center;
	background-size: contain
}

body .content_inner_bg {
	background: #efefef
}

.pad {
	padding: 0 68px
}

.main_title {
	text-align: center;
	padding: 60px 0
}

.main_title h2 {
	font-size: 36px;
	font-family: "bree serif", serif;
	color: #222;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #222;
	display: inline-block;
	line-height: 58px;
	padding: 0 23px
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 99999999
}

#preloader #preloader_spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%)
}

.spinner {
	-webkit-animation: load 1s infinite linear;
	-moz-animation: load 1s infinite linear;
	animation: load 1s infinite linear;
	background: -webkit-linear-gradient(top, #fec608 10%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, #fec608 10%, rgba(255, 255, 255, 0) 100%);
	height: 4em;
	width: 4em;
	border-radius: 50%;
	font-size: 18px;
	margin: auto;
	position: relative
}

.spinner:after,
.spinner:before {
	position: absolute;
	right: 0;
	content: '';
	top: 0;
	bottom: 0;
	left: 0
}

.spinner:before {
	height: 100%;
	width: 100%;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 50%, #fec608 50%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #fec608 50%);
	border-radius: 100%
}

.spinner:after {
	height: 90%;
	width: 90%;
	background: #fff;
	border-radius: 50%;
	margin: auto
}

@-webkit-keyframes load {
	from {
		-webkit-transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes load {
	from {
		-moz-transform: rotate(0)
	}
	to {
		-moz-transform: rotate(360deg)
	}
}

@keyframes load {
	from {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.header_area {
	background: #fec608
}

.header_area .navbar.navbar-default {
	border: none;
	border-radius: 0;
	background: 0 0;
	margin: 0
}

.about_person_area .person_details .person_information ul,
.social_icon li {
	display: inline-block
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li {
	margin-right: 40px
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
	padding: 0;
	background: 0 0;
	line-height: 80px;
	font-family: raleway, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #222;
	display: inline-block;
	transition: all .4s linear 0s
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li.active a,
.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:hover a {
	color: #fff
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:last-child {
	margin-right: 0
}

.about_person_area {
	background: #fff;
	margin-top: 60px;
	padding-top: 40px;
	padding-bottom: 40px
}

.about_person_area .person_img .download_btn {
	margin-top: 40px
}

.about_person_area .person_img {
	max-width: 322px
}

.about_person_area .person_img img {
	max-width: 100%
}

.about_person_area .person_details {
	margin-left: -30px
}

.about_person_area .person_details h3 {
	font-size: 36px;
	color: #333;
	text-transform: uppercase;
	font-family: raleway, sans-serif;
	font-weight: 700;
	padding-bottom: 10px
}

.about_person_area .person_details h3 span {
	color: #fec608
}

.about_person_area .person_details h4 {
	font-size: 18px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	color: #666;
	padding-bottom: 15px
}

.about_person_area .person_details p {
	font-size: 13px;
	line-height: 24px;
	color: #333;
	font-family: raleway, sans-serif;
	font-weight: 400
}

.about_person_area .person_details .person_information {
	padding: 15px 0 25px
}

.about_person_area .person_details .person_information ul li a {
	font-size: 13px;
	line-height: 26px;
	color: #333;
	font-family: raleway, sans-serif
}

.about_person_area .person_details .person_information ul+ul {
	padding-left: 55px
}

.about_person_area .person_details .person_information ul+ul li a {
	font-size: 13px;
	line-height: 26px;
	color: #337ab7;
	font-family: raleway, sans-serif
}

.social_icon li {
	margin-right: 20px
}

.social_icon li a {
	height: 40px;
	width: 40px;
	text-align: center;
	border: 1px solid #677fb5;
	display: block;
	line-height: 40px;
	font-size: 18px;
	border-radius: 5px;
	transition: all .4s linear 0s;
	color: #677fb5
}

.social_icon li:nth-child(2) a {
	color: #70c2e9;
	border-color: #70c2e9
}

.social_icon li:nth-child(2):hover a {
	background: #70c2e9
}

.social_icon li:nth-child(3) a {
	color: #895a4d;
	border-color: #895a4d
}

.social_icon li:nth-child(3):hover a {
	background: #895a4d
}

.social_icon li:nth-child(4) a {
	color: #d34836;
	border-color: #d34836
}

.social_icon li:nth-child(4):hover a {
	background: #d34836
}

.social_icon li:nth-child(5) a {
	color: #007ab9;
	border-color: #007ab9
}

.social_icon li:nth-child(5):hover a {
	background: #007ab9
}

.social_icon li:nth-child(6) a {
	color: #d8545d;
	border-color: #d8545d
}

.social_icon li:nth-child(6):hover a {
	background: #d8545d
}

.social_icon li:nth-child(7) a {
	color: #5ecbf3;
	border-color: #5ecbf3
}

.social_icon li:nth-child(7):hover a {
	background: #5ecbf3
}

.social_icon li:nth-child(8) a {
	color: #ff3ba4;
	border-color: #ff3ba4
}

.social_icon li:nth-child(8):hover a {
	background: #ff3ba4
}

.social_icon li:last-child {
	margin-right: 0
}

.social_icon li:last-child a {
	color: #faaa5e;
	border-color: #faaa5e
}

.social_icon li:last-child:hover a {
	background: #faaa5e
}

.social_icon li:hover a {
	background: #677fb5;
	color: #fff
}

.contact_btn,
.contact_btn:focus,
.contact_btn:hover,
.download_btn {
	background: #fec608
}

.download_btn,
.download_btn:before {
	line-height: 40px;
	color: #222;
	text-align: center;
	font-size: 18px
}

.download_btn {
	display: block;
	border-radius: 20px;
	font-family: yellowtail, cursive;
	position: relative;
	overflow: hidden
}

.download_btn span {
	display: inline-block;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: 100%;
	transition: all .4s linear 0s
}

.download_btn:before {
	content: "\f019";
	position: absolute;
	height: 100%;
	width: 100%;
	top: -100%;
	left: 0;
	font-family: FontAwesome;
	transition: all .2s ease-in
}

.contact_btn,
.contact_btn:before {
	width: 100%;
	line-height: 40px;
	color: #fff
}

.download_btn:hover span {
	-webkit-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%)
}

.download_btn:hover:before {
	top: 0
}

.contact_btn {
	max-width: 140px;
	display: block;
	font-family: raleway, sans-serif;
	box-shadow: none!important;
	outline: 0!important;
	border: none;
	border-radius: 0;
	padding: 0;
	position: relative;
	overflow: hidden
}

.contact_btn span {
	display: inline-block;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: 100%;
	transition: all .4s linear 0s
}

.contact_btn:before {
	content: "\f1d8";
	position: absolute;
	height: 100%;
	text-align: center;
	font-size: 18px;
	top: -100%;
	left: 0;
	font-family: FontAwesome;
	transition: all .2s ease-in
}

.contact_btn:hover span {
	-webkit-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%)
}

.contact_btn:hover:before {
	top: 0
}

.myskill_area .skill_text {
	padding-bottom: 28px
}

.myskill_area .skill_text h4 {
	font-family: raleway, sans-serif;
	color: #333;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 25px
}

.myskill_area .skill_text p {
	font-size: 13px;
	line-height: 24px;
	font-family: raleway, sans-serif;
	color: #333
}

.myskill_area .skill_item_inner .single_skill h4 {
	font-size: 16px;
	color: #333;
	font-family: raleway, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 5px
}

.myskill_area .skill_item_inner .single_skill .progress {
	margin-bottom: 30px;
	height: 30px;
	border-radius: 0;
	border: none;
	box-shadow: none;
	text-shadow: none;
	background: #fff
}

.myskill_area .skill_item_inner .single_skill .progress .progress-bar {
	background: #fec608;
	box-shadow: none
}

.myskill_area .skill_item_inner .single_skill .progress .progress-bar .progress_parcent {
	font-family: raleway, sans-serif;
	font-size: 16px;
	color: #fff;
	line-height: 30px;
	text-align: right;
	padding-right: 10px
}

.myskill_area .skill_item_inner .single_skill:last-child .progress {
	margin-bottom: 0
}

.education_area {
	padding-bottom: 60px
}

.education_area .education_inner_area {
	position: relative;
	overflow: hidden
}

.education_area .education_inner_area:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 5px;
	margin-left: -2.5px;
	background: rgba(254, 198, 8, .5)
}

.education_area .education_inner_area .education_item {
	width: 50%;
	max-width: 420px;
	background: #fff;
	margin-bottom: 90px;
	padding: 20px;
	position: relative;
	z-index: 2
}

.education_area .education_inner_area .education_item:before {
	content: attr(data-line);
	position: absolute;
	right: -108px;
	top: 0;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 4px solid #f7da7b;
	text-align: center;
	color: #fff;
	line-height: 43px;
	font-family: raleway, sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	background: #fec608
}

.education_area .education_inner_area .education_item:after {
	content: "";
	background: #f7da7b;
	height: 4px;
	position: absolute;
	right: -78px;
	top: 0;
	width: 119%
}

.education_area .education_inner_area .education_item:nth-child(even) {
	float: right
}

.education_area .education_inner_area .education_item:nth-child(even):before {
	right: auto;
	left: -108px
}

.education_area .education_inner_area .education_item:nth-child(even):after {
	left: -78px
}

.education_area .education_inner_area .education_item:nth-child(odd) {
	float: left
}

.education_area .education_inner_area .education_item:nth-child(2) {
	margin-top: 108px
}

.education_area .education_inner_area .education_item:last-child {
	margin-bottom: 0
}

.education_area .education_inner_area .education_item h6 {
	font-size: 14px;
	color: #fec608;
	font-family: raleway, sans-serif;
	font-weight: 700
}

.education_area .education_inner_area .education_item h4 {
	font-size: 18px;
	font-family: raleway, sans-serif;
	color: #333;
	padding: 8px 0 7px
}

.education_area .education_inner_area .education_item h5 {
	font-size: 14px;
	color: #333;
	font-family: raleway, sans-serif
}

.education_area .education_inner_area .education_item p {
	font-size: 13px;
	line-height: 24px;
	font-family: raleway, sans-serif;
	color: #666;
	font-weight: 400;
	padding-top: 12px
}

.contact_title h3 {
	font-size: 24px;
	color: #333;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 34px
}

.left_contact_details p {
	font-size: 14px;
	color: #666;
	line-height: 24px;
	padding-bottom: 20px
}

.left_contact_details p+p {
	padding-bottom: 20px
}

.left_contact_details .media {
	margin-top: 30px
}

.left_contact_details .media .media-left {
	padding-right: 30px
}

.left_contact_details .media .media-left i {
	height: 60px;
	width: 60px;
	background: #fec608;
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	border: 1px solid #fec608;
	transition: all .4s linear 0s
}

.left_contact_details .media .media-body h4 {
	font-size: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #333;
	padding-bottom: 10px
}

.left_contact_details .media .media-body p {
	padding: 0;
	font-size: 14px;
	color: #666;
	line-height: 24px
}

.left_contact_details .media:hover .media-left i {
	background: 0 0;
	color: #fec608
}

.footer_inner {
	text-align: center;
	background: rgba(0, 0, 0, .5);
	padding: 80px 0 60px;
	margin-top: 15px
}

.footer_inner img {
	max-width: 100%;
	margin-bottom: 40px
}

.footer_inner ul li a {
	background: #677fb5;
	color: #fff
}

.footer_inner ul li:nth-child(2) a {
	background: #70c2e9;
	color: #fff
}

.footer_inner ul li:nth-child(3) a {
	background: #895a4d;
	color: #fff
}

.footer_inner ul li:nth-child(4) a {
	background: #d34836;
	color: #fff
}

.footer_inner ul li:nth-child(5) a {
	background: #007ab9;
	color: #fff
}

.footer_inner ul li:nth-child(6) a {
	background: #d8545d;
	color: #fff
}

.footer_inner ul li:nth-child(7) a {
	background: #5ecbf3;
	color: #fff
}

.footer_inner ul li:nth-child(8) a {
	background: #ff3ba4;
	color: #fff
}

.footer_inner ul li:nth-child(9) a {
	background: #e299c2;
	color: #fff
}

.footer_inner ul li:last-child a {
	background: #faaa5e;
	color: #fff
}

.footer_copyright {
	background: rgba(0, 0, 0, .7)
}

.footer_copyright .pull-left h5 {
	font-size: 13px;
	color: #fff;
	font-family: raleway, sans-serif;
	line-height: 100px
}

.footer_copyright .pull-left h5 a {
	font-weight: 700;
	color: #fec608
}

.footer_copyright .pull-right .navbar-nav li {
	margin-right: 40px
}

.footer_copyright .pull-right .navbar-nav li a {
	padding: 0;
	background: 0 0;
	line-height: 100px;
	text-transform: uppercase;
	font-family: raleway, sans-serif;
	font-weight: 700;
	color: #fff;
	transition: all .4s linear 0s
}

.footer_copyright .pull-right .navbar-nav li:last-child {
	margin-right: 0
}

.footer_copyright .pull-right .navbar-nav li.active a,
.footer_copyright .pull-right .navbar-nav li:hover a {
	color: #fec608
}

.b_section {
	margin-top: 50px
}

.a_section {
	margin-top: 75px
}

#project p {
	text-align: center
}

#summary {
	text-align: justify;
}